<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-method">
        {{>header}}
        <p>Mausam weather app is created by {{name}}. The data is retrieved from mapbox api and weatherstack api. </p>
        <img src="/img/me.jpg">
    </div>
    {{>footer}}
</body>

</html>